.experiencia-titulo {
  color: var(--c3);
  align-self: start;
}

.experiencia-descricao {
  font-size: var(--s06);
  line-height: var(--s07);
  margin-bottom: var(--s11);
  color: var(--c10);
  max-width: 40ch;
}

strong {
  color: var(--c13);
}

.empresa-ano {
  text-align: right;
  position: absolute;
  top: 22px;
  left: -89px;
}

.empresa {
  display: grid;
  grid-template-columns: 4fr 3fr;
  gap: var(--s03) var(--s07);
  position: relative;
  background-color: var(--c1);
  border-radius: var(--s01);
  border: var(--c3) solid 1px;
  padding: var(--s05);
}

.empresa:not(:first-child) {
  margin-top: var(--s09);
}

.empresa::before {
  content: "";
  width: 4px;
  height: 20px;
  background-image: var(--gradient);
  position: absolute;
  top: 20px;
  left: -4px;
}

.empresa-descricao {
  color: var(--c10);
  font-size: 0.875rem;
  line-height: var(--s05);
}

.empresa-habilidade {
  display: flex;
  flex-wrap: wrap;
  gap: var(--s03);
  align-content: start;
}

.empresa-habilidade li {
  padding: var(--s02) var(--s03);
  font-size: 0.875rem;
  line-height: var(--s05);
  background-color: var(--w);
  border-radius: var(--s01);
}

@media (max-width: 1000px) {
  .experiencia-descricao {
    max-width: 30ch;
  }

  .empresa {
    column-gap: var(--s10);
  }

  .empresa-ano {
    left: -75px;
  }
}

@media (max-width: 500px) {
  .experiencia-titulo {
    color: var(--c13);
    font-size: var(--s07);
    line-height: var(--s07);
  }

  .experiencia-descricao {
    font-size: var(--s04);
    line-height: var(--s05);
    max-width: initial;
  }

  .empresa {
    column-gap: var(--s09);
  }

  .empresa-ano {
    grid-column: 1 / -1;
    text-align: left;
    position: initial;
  }
}

@media (max-width: 300px) {
  .experiencia-descricao {
    font-size: var(--s04);
    line-height: var(--s05);
    max-width: 27ch;
  }

  .experiencia-textos {
    justify-self: center;
  }

  .empresa {
    grid-template-columns: var(--grid-3);
  }

  .empresa-descricao {
    grid-row: 3;
  }
}
